* {
  margin: 0;
  padding: 0;
}

#registerBody {
  background-image: url("https://images.unsplash.com/photo-1526488807855-309186804587?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjB8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
  min-height: 100vh;
  min-width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  color: #fff;
}

#cardBody {
  background-color: rgba(255, 255, 255, 0.11) !important;
  border: 1px solid #fff;
}
