* {
  margin: 0;
  padding: 0;
}
/* Container */
.register {
  background-color: aqua;
  height: 100vh;
}

/* Left */
.registerBanner {
  width: 40% !important;
  background-color: red;
}

.registerBanner img {
  width: 90%;
}

/* Right */
.registerForms {
  background-color: green;
}
